body.index{
    background-color: #F18D8F;
}
body.contact{
    background-color: white;
}
header{
    background-color: #172832;
    width: 100%;
    height: 100px;
    position: fixed;
    margin-top: 0;
    margin-left: 0;

.menu{
    list-style-type: none;
    padding-top: 25px;
    margin: 0;
    display:flex;
    justify-content: end;
}
.about img{
    width: 90px;
    height: auto;
    margin-right: 10px;
    padding: 5px;
    transition: all 0.3s ease-in;
}
.about:hover img{
    content:url(./img/about-hover.png)
}
.gallery img{
    width:90px;
    height: auto;
    margin-right: 10px;
    padding: 5px;
    padding-top: 5px;
    transition: all 0.3s ease-in;
}
.gallery:hover img{
    content:url(./img/gallery-hover.png)
}
.contact img{
    width: 90px;
    height: auto;
    margin-right: 10px;
    padding: 5px;
    transition: all 0.3s ease-in;
}
.contact:hover img{
    content:url(./img/contact-hover.png)
}
.home img{
    width: 100px;
    height: auto;
    margin-right: 6px;
    padding: 3px;
    justify-content: start;

}
}

/*home*/
.div{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Degradado1_1.gif);
    background-size: cover;
    height: 695px;
}
.mission img{
    width: auto;
    height:fit-content;
    margin-top: 50px; 
    padding: 80px;   
}
.titles{
    background-color: #F18D8F;
    height: 100vh;
    margin-left: 0;
}
.imagegrid{ 
    display:flex;
    flex-direction:row;
}
.twoimage{ 
    display: flex;
    flex: 1;
    flex-direction: column;
}
.imgtwogrid{
    height: 652px;
    width: auto;
}
.imggrande{
    flex:1;
    display: flex;
    justify-content: right;
}

/*titulos*/
h2{
    font-family: playfair display;
    font-size: 48;
    font-weight: bold;
    color: white;
    margin-left: 50px;
    padding-top: 155PX;
}
h3{
    font-family: playfair display;
    font-size: 48;
    font-weight: bold;
    color:#1D1D1B;
    margin-left: 50px;
}
h4{
    font-family: playfair display;
    font-size: 48;
    font-weight: bold;
    color:#F18D8F;
    margin-left: 50px;
}

/*gallery*/
.carruselimg{
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style-type: none;
    position: relative;
    overflow:hidden ;
    margin-right: 70px;
    margin-left: 70px;
    scroll-behavior: smooth;
}
.illustration img{
    height: 420px;
    width: auto;
    padding: 10px;
}

footer{
    background-color:#C7EAE6;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 213px;
    padding: 20px 0;

h5{
    margin-top: 20px;
    text-align: center;
    color: gray;
    font-family: poppins;
    font-weight:500;

}
.social-icons{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.instagram-item img {
width: 46px;
height: auto;
margin-right: 10px;
vertical-align: middle;
transition: all 0.3s ease-in;

}
.instagram-item:hover img{
    content:url(./img/instagram_hover.png)
}
.facebook-item img{
    width: 46px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.3s ease-in;
}
.facebook-item:hover img{
     content:url(./img/facebook_hover.png)
}
.behance-item img{
    width: 46px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.3s ease-in;
}
.behance-item:hover img{
    content:url(./img/behance_hover.png);
}
}