
body, html{
    margin: 0;
    padding: 0;
}
header{
    background-color: #172832;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    

.menu{
    list-style-type: none;
    padding-top: 25px;
    margin: 0;
    display:flex;
    justify-content: end;
    
}
.about img{
    width: 90px;
    height: auto;
    margin-right: 10px;
    padding: 5px;
    transition: all 0.3s ease-in;
}
.about:hover img{
    content:url(./img/about-hover.png)
}
.gallery img{
    width:90px;
    height: auto;
    margin-right: 10px;
    padding: 5px;
    padding-top: 5px;
    transition: all 0.3s ease-in;
}
.gallery:hover img{
    content:url(./img/gallery-hover.png)
}
.contact img{
    width: 90px;
    height: auto;
    margin-right: 10px;
    padding: 5px;
    transition: all 0.3s ease-in;
}
.contact:hover img{
    content:url(./img/contact-hover.png)
}
.home img{
    width: 100px;
    height: auto;
    margin-right: 6px;
    padding: 3px;
    justify-content: start;

}
}

/*home*/
.back{
    background-color: #F18D8F;
}
.div{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Degradado1_1\ \(1\).gif);
    background-size: cover;
    height: 695px;
}
.mission img{
    width: auto;
    height:fit-content;      
}
.titles{
    background-color: #F18D8F;
    height: 100vh;
    margin-bottom: 80px;
}
.imagegrid{ 
    display:flex;
    flex-direction:row;
}
.twoimage{ 
    display: flex;
    flex: 1;
    flex-direction: column;
}
.imgtwogrid{
    height: 567px;
    width: auto;
    padding-right: 15px;
}
.imggrande{
    flex:1;
    display: flex;
    justify-content: right;
}
.size{
    height: auto;
    width: 450px;
    padding-bottom: 15px;
}

/*textos*/
h1{
    font-size: 60px;
    line-height: 0.7;
    font-style: italic;
    margin-top: 5px;
}
p{/*utilizada para los títulos de secciónes*/
    font-family: playfair display;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    font-size: 40px;
    margin-left: 70px;
    padding-top: 28px;
}
h2{
    font-style: italic;
    font-size: 48px;
}
h3{
    font-size: 30px;
}
/*gallery*/
.illustration{
    background-color: #F18D8F;
    padding-top: 118px;
    color: white;
    padding-bottom: 90px;

}
.editorial{
    margin-left: 80px;
    padding: 10px 0;
    margin-top: 25px;
}
.title2{
    margin-top: 25px;
    margin-left: 80px;
    padding: 10px 0;
}
.carrusel{
    display:flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 20px 80px;
}
.imgc{
    height: 500px;
    scroll-snap-align: center;
    width: auto;
    padding: 0 10px;
}
.brandingimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.imgb{
    height: 400px;
    width: auto;
}
.imgb2{
    height: 350px;
}
.poster{
    background-color: #06262D;
    color: white;
    padding-bottom: 50px;
    padding-top: 40px;
}
.posterimg{
    height: 380px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.imgp{
    padding: 0 10px;
}

/*about*/
.tema1{
    margin-top: 130px;
    background-color: white;
    background-attachment: fixed;
    display: flex;
    align-items: baseline;
    height: 850px;
}
.tema2{
    background-color:  #F18D8F;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 1000px;
    justify-content: space-around;
    color: white;
    
}
.tema3{
    background-image: url(./img/Degradado1_1\ \(1\).gif);
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100vh;
    justify-content: space-around;
    color: white;
}
.tema4{
    background-color: #06262D;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 400px;
    color: white;  
}
.gif{
    height: 420px;
    position: sticky;
    top: 36%;
    background-attachment: fixed;
}
.textos{
     margin: 0 60px;
}
.texto-fijo {
  position: sticky;
  top: 60%; /* Ajusta el desplazamiento vertical según sea necesario */
  transform: translateY(-50%);
  width: 100%; /* Opcional: asegura que el texto ocupe todo el ancho */
}


/*cantact*/
.formulario{ 
	margin-top: 100px;
    display: flex;
    justify-content: end;
    font-family: Poppins regular, bold;
    background-image:url(./img/Sin\ título-1.png);
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    
}
.container{
    width: 600px;
    margin-right: 80px;
}
.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    margin-bottom: 5px;
}
input[type="email"],
input[type="name"],
input[type="description"],
textarea{
    padding: 8px;
    border: 1px solid#AB0033;
    border-radius: 5px;
    box-sizing: border-box;
}
button{
    background-color:#F18D8F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 35px;
    font-size: medium;
}
button:hover{
    background-color: #AB0033;
}
.whatsapp-btn{
    
    background-color: #F18D8F;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Poppins regular;
    font-size: medium;
}
.whatsapp-btn:hover{
    background-color: #AB0033;
}
.whatsapp-btn i{ 
    margin-right: 10px;
}

footer{
    background-color:#C7EAE6;
    text-align: center;
    width: 100%;
    height: 150px;
    padding-top: 60px;

h5{
    margin-top: 20px;
    text-align: center;
    color: gray;
    font-family: poppins;
    font-weight:500;

}
.social-icons{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.instagram-item img {
width: 46px;
height: auto;
margin-right: 10px;
vertical-align: middle;
transition: all 0.3s ease-in;

}
.instagram-item:hover img{
    content:url(./img/instagram_hover.png)
}
.facebook-item img{
    width: 46px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.3s ease-in;
}
.facebook-item:hover img{
     content:url(./img/facebook_hover.png)
}
.behance-item img{
    width: 46px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.3s ease-in;
}
.behance-item:hover img{
    content:url(./img/behance_hover.png);
}
}
